[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
  name = Dylan Northrup
  email = github@doc-x.net      # dotdiffignore
  #email = northrup@ufl.edu     # dotdiffignore

[alias]
  a = !git add . && git status
  br = branch
  co = checkout
  ci = commit
  hist = log --pretty=format:'%C(yellow)%h %C(cyan)%C(ul)%ad%Creset | %s%C(cyan)%d%Creset [%C(white)%an%Creset]' --graph --date=iso-local
  l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s - %C(white)- %an, %ar%Creset'
  la = log --all --decorate --oneline --graph
  ll = log --stat --abbrev-commit
  lol = log --oneline --graph --decorate
  lg = lg1
  lg1 = lg1-specific --all
  lg2 = lg2-specific --all
  lg3 = lg3-specific --all
  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
  plush = !sh -c \"git pull --rebase && git push\"
  st = status
  tyup = !sh -c \"git up && git push\"

[color]
  ui = auto
  status = auto
  diff = always
  branch = always

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  autocrlf = input
  safecrlf = true

[diff]
  colorMoved = default

[diff "sopsdiffer"]
  textconv = sops -d

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[format]
  pretty = %C(yellow)%H %C(cyan)%C(ul)%ad%Creset | %s%C(cyan)%d%Creset [%C(white)%an%Creset]

[log]
  date = short

[merge]
  conflictstyle = diff3

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autoStash = true
